altair==5.5.0
dotenv==0.9.9
matplotlib==3.10.3
matplotlib-inline==0.1.7
mysql-connector-python==9.3.0
numpy==2.3.0
pandas==2.3.0
plotly==6.1.2
plotly-express==0.4.1
psycopg2-binary==2.9.10
python-dotenv==1.1.0
seaborn==0.13.2
SQLAlchemy==2.0.41
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.2
sqlparse==0.5.3
streamlit==1.45.1
uv==0.7.19
vega-datasets==0.9.0
pysqlite3-binary
langchain
langchain-chroma
langchain-core
langchain-google-genai
langchain-ollama
langchain-text-splitters
langsmith
