altair==5.5.0
dotenv==0.9.9
langchain==1.0.1
langchain-chroma==1.0.0
langchain-classic==1.0.0
langchain-community==0.4
langchain-core==1.0.0
pandas==2.3.3
plotly==6.3.0
psycopg2-binary==2.9.10
pysqlite3-binary==0.5.4
sqlalchemy==2.0.44
streamlit==1.50.0
vega-datasets==0.9.0